@import url(/mobile.html);
/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:"poppins";
  }
  
  .container {
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }
  
  /* Mobile-specific styles */
  nav {
    display: flex;
    background-color:white;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 20px;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    padding: 5px;
  }
  
  nav ul li a.active {
    color: blueviolet;
  }
  
   nav button {
    background-color: blueviolet;
    border-radius: 30px;
    height: 45px;
    width: 120px;
    color: #fff;
    margin-right:30px;
    /* padding: 10px 20px; */
    border: none;
    cursor: pointer;
  }
  
  section {
    padding: 50px 0;
    text-align: center;
  }
  .main-page{
    background-image: url(/assets/images/background.webp);
    background-position:center ;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100vh;
}
.main-page :first-child{
  font-weight:bolder;
  font-size: 60px;
}
.main-page :nth-child(2){
  padding-top: 30px;
  font-size: 20px;
  font-weight: lighter;
}
.main-page button{
  height: 45px;
  width: 135px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  margin-top: 50px;
  background-color: blueviolet;
  color: white;
}
/* Services */
  .services{
    display: flex;
    flex-direction: column;
  }
  .text-p :first-child{
    color: blueviolet;
  }
  .text-p :nth-child(2){
    font-size: 25px;
    font-weight: 900;
  }
  .services .options {
    margin-top: 30px;
  }
  .services img{
    height: 140px;
  }
 .head-text{
  font-size: 20px;
  font-weight: 900;
 }

 /* Experience */
 .experience{
  background-color:  rgb(1, 1, 66);
  color: white;
  display: flex;
  flex-direction: column;
 }
 #exp-p{
  margin-top: 60px;
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
 }
 .ex-1,.ex-2,.ex-3,.ex-4{
  text-align: center;
  margin-bottom: 60px;
 }
 .ex-1 :first-child{
  font-size: 60px;
 }
 .ex-2 :first-child{
  font-size: 60px;
 }
 .ex-3 :first-child{
  font-size: 60px;
 }
 .ex-4 :first-child{
  font-size: 60px;
 }

 /* About */
 .about{
  display: flex;
  flex-direction: column;
 }
 .about-right{
  background-image: url(/assets/images/second-bg.webp);
  background-position:center ;
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100vh;
 }
 .about-left :first-child{
  color: blueviolet;
 }
 .about-left :nth-child(2){
  font-weight: 900;
  font-size: 25px;
 }
 .about-left :nth-child(3){
  padding-top: 50px;
  padding-bottom: 50px;
 }

 /* Carousel */
 .slideshow-container {
    position: relative;
    background:blueviolet;
    color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  .mySlides :first-child{
    font-size: 20px;
    padding-bottom: 50px;
  }
  .mySlides :nth-child(2){
    font-size: 50px;
  }
  .mySlides :nth-child(3){
    font-size: 20px;
    padding-top: 50px;
    font-weight: bolder;
  }
  .dot-container {
      text-align: center;
      padding: 20px;
      background: blueviolet;
  }
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color:white;
  }

  
  /* .clients {
    padding: 50px 0;
    text-align: center;
  }
  
  .clients p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .clients .client-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .clients .client-logo img {
    width: 80px;
    margin: 10px;
  }
  
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
  }
  
  .contact p {
    font-size: 20px;
  }
  
  .contact form {
    display: grid;
    grid-gap: 10px;
  }
  
  .contact input,
  .contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact button {
    background-color: blueviolet;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  footer {
    background-color: #f6f6f6;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
   */