*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body{
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
}
.container{
 display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
/* Here The Navigation Part */
nav li.active a {
    color: blueviolet;
  }
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color:white;
    z-index: 999;
    border-bottom: 1px solid lightgray;
}
nav ul {
    list-style: none;
    display: inline-flex;
    gap: 70px;
}
nav a{
    color: black;
    text-decoration: none;
}
nav > button{
    height: 45px;
    width: 135px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    margin-top: -10px;
    background-color: blueviolet;
    color: white;
}
nav li a:hover{
    color:blueviolet
}

/* Here The First Section */
.main-page{
    padding: 120px 0 0 120px;
    background-image: url(/assets/images/background.webp);
    background-attachment: fixed;
    background-position:center -130px;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100vh;
}
.main-page :first-child{
    font-weight:bolder;
    font-size: 80px;
}
.main-page :nth-child(2){
    font-size: 20px;
    font-weight: lighter;
}
.main-page button{
    height: 45px;
    width: 135px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 50px;
    background-color: blueviolet;
    color: white;
}
/* The Second Page */
.text-p{
    margin-top: 90px;
    text-align: center;
}
.text-p :first-child{
    color: blueviolet;
    font-size: 18px;
}
.text-p :nth-child(2){
    font-size:35px;
    font-weight: 600;
}
.options{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 550px;
}
.op-3 img{
    height: 205px;
}
.op-1 img{
    height: 200px;
}
.op-2 img{
    height: 200px;
}
.head-text{
    font-weight: bolder;
    text-align: center;
    font-size: 18px;
    padding-bottom: 15px;
}
/* The Third Page */
.experience{
    background-color: rgb(1, 1, 66);
    color: white;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#exp-p{
    text-align: center;
    font-size: 35px;
}
.ex-1 span{
    font-size: 75px;
    padding-left:80px;
}
.ex-2 span{
    padding-left:38px;
}
.ex-1,.ex-2{
    text-align: center;
}
/* The About Page */
.about-left{
    float: left;
    padding: 100px 0 0 100px;
}
.about-left :first-child{
    color: blueviolet;
    font-size: 18px;
}
.about-left :nth-child(2){
    font-size: 35px;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 40px;
}
.about-left :nth-child(3){
    font-size: 18px;
    font-weight: lighter;
}
.about-right{
    float: right;
    background-image: url(/assets/images/second-bg.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 100vh;
}
/* The Feedback Carousel */
.slideshow-container {
    position: relative;
    background:blueviolet;
    color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  .mySlides :first-child{
    font-size: 20px;
    padding-bottom: 50px;
  }
  .mySlides :nth-child(2){
    font-size: 50px;
  }
  .mySlides :nth-child(3){
    font-size: 20px;
    padding-top: 50px;
    font-weight: bolder;
  }
  .dot-container {
      text-align: center;
      padding: 20px;
      background: blueviolet;
  }
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color:white;
  }

/* Clients(Customers) Page */
.customers img{
    width: 100vw;
}
/* Contact Page */
.contact{
    display: flex;
    background-image: url(/assets/images/tet-bg.webp);
    justify-content: space-around;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 650px;
}
.contact input{
    border: none;
    border-bottom: 1px solid black;
}
.con-left{
    padding-top: 100px;
    padding-left: 50px;
}
.con-left :first-child{
    color: blueviolet;
    font-size: 22px;
}
.con-left :nth-child(2){
    font-size: 35px;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 30px;
}
.con-left :nth-child(3){
    font-size: 18px;
}
.con-left :nth-child(4){
    padding-top: 15px;
    font-size: 18px;
}
.con-icons i{
    padding-right: 20px;
}
.con-right{
  padding: 160px 0 0 200px;
}
.con-r-1{
    display: flex;
    gap: 30px;
}
.con-r-1 input{
    width: 200px;
}
.right-f{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-s{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.con-r-2{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 40px;
    padding-bottom: 40px;
}
.con-r-2 input{
    width: 430px;
}
.con-right button{
    height: 45px;
    width: 135px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    margin-top: -10px;
    background-color: blueviolet;
    color: white;
}

/* Google Map Page */
.google-map {
    padding-bottom:480px;
    position: relative;
  }
  
  .google-map iframe {
    height: 450px;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }

  footer{
    text-align: center;
    padding-bottom: 0;
    margin-top: auto;
    padding-bottom: 20px
  }
  footer a{
    color: black;
  }

  /* Live Chat Section */
  .open-button {
    background-color: rgb(30, 48, 80);
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    height: 100px;
    width: 100px;
  }
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  .form-container .btn {
    background-color: rgb(30, 48, 80);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  .form-container .cancel {
    background-color:#ddd;
    color: black;
  }
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-up {
    animation: fade-up 1s ease-in-out;
  }


  @media (max-width: 600px) {
    .container{
        display: none;
    }
  }